.space5 {
    padding-bottom: 5px;
}

.space10 {
    padding-bottom: 10px;
}

.space15 {
    padding-bottom: 15px;
}

.space20 {
    padding-bottom: 20px;
}

.space25 {
    padding-bottom: 25px;
}

.space30 {
    padding-bottom: 30px;
}

.space35 {
    padding-bottom: 35px;
}

.space40 {
    padding-bottom: 40px;
}

.space45 {
    padding-bottom: 45px;
}

.space50 {
    padding-bottom: 50px;
}

.space55 {
    padding-bottom: 55px;
}

.space60 {
    padding-bottom: 60px;
}

.space65 {
    padding-bottom: 65px;
}

.space70 {
    padding-bottom: 70px;
}

.space75 {
    padding-bottom: 75px;
}

.space80 {
    padding-bottom: 80px;
}

.space85 {
    padding-bottom: 85px;
}

.space90 {
    padding-bottom: 90px;
}

.space95 {
    padding-bottom: 95px;
}

.space100 {
    padding-bottom: 100px;
}

.space105 {
    padding-bottom: 105px;
}

.space110 {
    padding-bottom: 110px;
}

.space115 {
    padding-bottom: 115px;
}

.space120 {
    padding-bottom: 120px;
}

.space125 {
    padding-bottom: 125px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 -moz-use-text-color #000;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }